body {
    font-family: Arial;
    margin: 0;
}

nav {
    background: #1f2933;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

#content {
    padding: 40px;
}
